<sections id="sm-banner" class="section-p1">
  <div class="banner-box banner-r">
    <h4>crazy deals</h4>
    <h2>buy1 get 1 free</h2>
    <p>The best classic dress is on sale at cara</p>
    <button class="white">Learn More</button>
  </div>
  <div class="banner-box banner-l">
    <h4>spring/summer</h4>
    <h2>upcomming season</h2>
    <p>The best classic dress is on sale at cara</p>
    <button class="white">Collection</button>
  </div>
</sections>

<section id="banner3">
  <div class="banner-box banner-box1">
    <h2>SEASONAL SALE</h2>
    <h3>Winter Collection 50% OFF</h3>
  </div>
  <div class="banner-box banner-box2">
    <h2>NEW FOOTWEAR COLLECTION</h2>
    <h3>Spring/Summer 2022</h3>
  </div>
  <div class="banner-box banner-box3">
    <h2>T-SHIRTS</h2>
    <h3>New Trendy Prints</h3>
  </div>
</section>
<style>
  #sm-banner .banner-r {
    background-image: url('https://cdn.shopify.com/s/files/1/0659/5077/7568/files/b17.jpg?v=1682594029');
  }
  #sm-banner .banner-l {
    background-image: url('https://cdn.shopify.com/s/files/1/0659/5077/7568/files/b10.jpg?v=1682594020');
  }
  #banner3 .banner-box {
    background-image: url('https://cdn.shopify.com/s/files/1/0659/5077/7568/files/b7.jpg?v=1682596265');
  }
  #banner3 .banner-box2 {
    background-image: url('https://cdn.shopify.com/s/files/1/0659/5077/7568/files/b4.jpg?v=1682596235');
  }
  #banner3 .banner-box3 {
    background-image: url('https://cdn.shopify.com/s/files/1/0659/5077/7568/files/b18.jpg?v=1682596226');
  }
</style>

{% schema %}
  {
    "name": "small-banners",
    "presets": [
      {
        "name": "small-banners"
      }
    ]
  }
{% endschema %}