<section id="feature" class="section-p1">
  <div class="fe-box">
    <img src="https://cdn.shopify.com/s/files/1/0659/5077/7568/files/f1.png?v=1682441950" alt="">
    <h6>Free Shipping</h6>
  </div>
  <div class="fe-box">
    <img src="https://cdn.shopify.com/s/files/1/0659/5077/7568/files/f2.png?v=1682441950" alt="">
    <h6>Online Order</h6>
  </div>
  <div class="fe-box">
    <img src="https://cdn.shopify.com/s/files/1/0659/5077/7568/files/f3.png?v=1682441950" alt="">
    <h6>Save Money</h6>
  </div>
  <div class="fe-box">
    <img src="https://cdn.shopify.com/s/files/1/0659/5077/7568/files/f4.png?v=1682441950" alt="">
    <h6>Promotions</h6>
  </div>
  <div class="fe-box">
    <img src="https://cdn.shopify.com/s/files/1/0659/5077/7568/files/f5.png?v=1682441950" alt="">
    <h6>Happy Sell</h6>
  </div>
  <div class="fe-box">
    <img src="https://cdn.shopify.com/s/files/1/0659/5077/7568/files/f6.png?v=1682441950" alt="">
    <h6>24/7 Support</h6>
  </div>
</section>

{% schema %}
  {
    "name": "Features",
    "settings": [],
    "presets": [
      {
        "name": "Features"
      }
    ]
  }
{% endschema %}