<div class="w-full h-2/3 hero-bg-image relative">
  <div class="absolute text-slate-700">
    Text here
  </div>
</div>

{% schema %}
  {
    "name": "hero",
    "settings": [],
    "presets": [
      {
        "name": "hero"
      }
    ]
  }
{% endschema %}