<section id="hero">
  {% if section.settings.title != blank %}
    <h4 class="pb-3 text-black text-xl">{{ section.settings.title }}</h4>
  {% endif %}
  <h2>Super value deals</h2>
  <h1>on all products</h1>
  <p>Save more with cupons & up to 70% off!</p>
  <button>Shop Now</button>
</section>

<style>

  #hero {
    {% if section.settings.heroBackground != blank %}
      background-image: url('{{ section.settings.heroBackground.src | image_url: 'master' }}');
    {% else %}
      background-image: url('https://cdn.shopify.com/s/files/1/0359/6717/2748/files/hero4.png?v=1682438453');
    {% endif %}
  }
</style>

{% schema %}
  {
    "name": "hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Trade-in-offer",
        "label": "Title"
      }, {
        "type": "image_picker",
        "id": "heroBackground",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "hero"
      }
    ]
  }
{% endschema %}