h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }

.section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  
  body {
    width: 100%;
  }
  
  button.normal {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
      color: #000;
      background-color: #fff;
      border-radius:4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
  }
  
  #header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 80px;
      background: #E3e6f3;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
      z-index: 999;
      position: sticky;
      top: 0;
      left: 0;
  }
  
  #navbar {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  #navbar li{
      list-style: none;
      padding: 0 20px;
      position: relative;
  }
  
  #navbar li a{
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: #1a1a1a;
      transition: 0.3 ease;
  }
  
  #navbar li a.active, #navbar li a:hover {
      color: #088178;
  }
  
  #navbar li a.active::after, #navbar li a:hover::after{
      content: "";
      width: 30%;
      height: 2px;
      background-color: #088178;
      position: absolute;
      bottom: -4px;
      left: 20px;
  }
  
  /* Homepage */
  
  #hero{
      background-size: cover;
      background-position: top 25% right 0;
      height: 90vh;
      width: 100%;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
  }
  
  #hero h4 {
      padding-bottom: 15px;
  }
  
  #hero h1 {
      color: #088178;
      font-size: 40px;
      padding-bottom: 15px;
  }
  
  #hero button {
      background-image: url('https://cdn.shopify.com/s/files/1/0659/5077/7568/files/button_png.png?v=1682423511');
      background-color: transparent;
      color: #088178;
      border: 0;
      padding: 14px 80px 14px 65px;
      background-repeat: no-repeat;
      cursor: pointer;
      font-size: 15px;
      font-weight: 700;
  }
  
  #feature {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  #feature .fe-box {
      width: 180px;
      text-align: center;
      padding: 25px 15px;
      box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
      border: 1px solid #cce7d0;
      border-radius: 4px;
      margin: 15px 0;
  }
  
  #feature .fe-box:hover {
      box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  }
  
  #feature .fe-box img {
      width: 100%;
      margin-bottom: 10px;
  }
  
  #feature .fe-box h6 {
      display: inline-block;
      padding: 9px 8px 6px 8px;
      line-height: 1;
      border-radius: 4px;
      color: #088178;
      background-color: #fddde4;
  }
  
  #feature .fe-box:nth-child(2) h6{
      background-color: #cdebbc;
  }
  #feature .fe-box:nth-child(3) h6{
      background-color: #d1e8f2;
  }
  #feature .fe-box:nth-child(4) h6{
      background-color: #cdd4f8;
  }
  #feature .fe-box:nth-child(5) h6{
      background-color: #f6dbf6;
  }
  #feature .fe-box:nth-child(6) h6{
      background-color: #fff2e5;
  }
  
  #product1 {
      text-align: center;
  }
  
  #product1 .pro-container{
      display: flex;
      justify-content: space-between;
      padding-top:20px;
      flex-wrap: wrap;
      max-width: 90vw;
  }
  
  #product1 .pro {
      width: 23%;
      min-width: 250px;
      padding: 10px 12px;
      border: 1px solid #cce7d0;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
      margin: 15px 0;
      transition: 0.2s ease;
      position: relative;
  }
  
  #product1 .pro:hover{
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  
  #product1 .pro  img {
      width: 100%;
      border-radius: 20px;
  }
  
  #product1 .pro .des {
      text-align: start;
      padding: 10px 0;
  }
  #product1 .pro .des span {
      color: #606063;
      font-size: 12px;
  }
  #product1 .pro .des h5 {
      padding-top: 7px;
      color: #1a1a1a;
      font-size: 14px;
  }
  #product1 .pro .des i {
      font-size: 12px;
      color: rgb(243, 181, 25);
  }
  
  #product1 .pro .des h4 {
      padding-top: 7px;
      font-size: 15px;
      font-weight: 700;
      color: #088178;
  }
  
  #product1 .pro .cart {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50px;
      background-color: #e8f6ea;
      /* font-weight: 500; */
      color: #088178;
      border: 1px solid #cce7d0;
      position: absolute;
      bottom: 20px;
      right: 20px;
  }
  
  #banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 40vh;
  }
  
  #banner h4 {
      color: white;
      font-size: 16px;
  }
  #banner h2 {
      color: white;
      font-size: 30px;
      padding: 10px 0;
  }
  #banner h2 span{
      color: #ef3636;
  }
  
  #banner button:hover {
      background-color: #088178;
      color: #fff;
  }
  
  #sm-banner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  #sm-banner .banner-box{
      height: 50vh;
      min-width: 49%;
      color: white;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      margin-bottom: 20px;
      background-image: url('/img/banner/b17.jpg');
      background-position: center;
      background-size: cover;
  }
  
  #sm-banner .banner-l {
      background-image: url('/img/banner/b10.jpg');
  }
  
  #sm-banner .banner-box h4 {
      color: white;
      font-size: 20px;
      font-weight: 300;
  }
  #sm-banner .banner-box p {
      color: white;
      font-size: 14px;
      margin-bottom: 10px;
  }
  #sm-banner .banner-box h2 {
      color: white;
  }
  
  button.green{
      background-color: #088178;
      color: white;
      font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
      border-radius:4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
  }
  button.white{
      background-color: transparent;
      color: white;
      font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
      border-radius:4px;
      cursor: pointer;
      border: 1px solid #fff;
      outline: none;
      transition: 0.2s;
  }
  
  #sm-banner .banner-box:hover button {
      background-color: #088178;
      border: 1px solid #088178;
  }
  
  #banner3 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 80px;
  }
  
  #banner3 .banner-box{
      height: 30vh;
      min-width: 30%;
      color: white;
      padding: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      margin-bottom: 20px;
      background-image: url('/img/banner/b7.jpg');
      background-position: center;
      background-size: cover;
  }
  
  #banner3 .banner-box h2{
      color: white;
      font-weight: 900;
      font-size: 22px;
  }
  #banner3 .banner-box h3{
      color: #ec544e;
      font-weight: 800;
      font-size: 15px;
  }
  
  #banner3 .banner-box2{
      background-image: url('/img/banner/b4.jpg');
  }
  #banner3 .banner-box3{
      background-image: url('/img/banner/b18.jpg');
  }
  
  #newsletter {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 30px 80px;
      background-image: url('img/banner/b14.png');
      background-position:left 150px top -150px;
      background-repeat: no-repeat;
      /* background-size: cover; */
      background-color: rgb(5, 59, 104);
      color: white;
  }
  
  #newsletter .n-text h2 {
      color: white;
      font-weight: 600;
      font-size: 22px;
  }
  #newsletter .n-text p {
      color: #b4b4bf ;
      font-weight: 600;
      font-size: 15px;
  }
  #newsletter .n-text span {
      color: #dabc26;
  }
  
  #newsletter .n-form #n-email{
      padding: 15px 20px;
      height: 3.125rem;
      width: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: none;
  }
  #newsletter .n-form button{
      padding: 15px 20px;
      height: 3.125rem;
      border-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      color: white;
      background-color: #088178;
      font-size: 14px;
      width: 30%;
      white-space: nowrap;
  }
  
  #newsletter .n-form form {
      display: flex;
  }
  #newsletter .n-form {
      width: 40%;
  }
  
  footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  footer .col{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
  }
  
  footer .logo {
      margin-bottom: 30px;
  }
  footer h4 {
      font-size: 14px;
      padding-bottom: 20px;
  }
  footer p {
      font-size: 13px;
      margin-bottom: 8px;
  }
  footer a {
      font-size: 13px;
      text-decoration: none;
      color: #222;
      margin-bottom: 10px;
      text-transform: capitalize;
  }
  
  footer .follow {
      margin-top: 20px;
  }
  footer .follow i{
      color: #465b52;
      padding-right: 4px;
      cursor: pointer;
  }
  
  footer .app .row img {
      border: 1px solid #088178;
      border-radius: 6px;
  }
  
  footer .app img {
      margin: 10px 0 15px 0;
  }
  
  footer .follow i:hover, footer a:hover {
      color: #088178;
  }
  
  .copyright {
      width: 100%;
      text-align: center;
  }
  
  #mobile, #close {
      display: none;
  }
  
  /* Shop page */
  #page-header {
      background-image: url('img/banner/b1.jpg');
      text-align: center;
      width: 100%;
      height: 40vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 14px;
  }
  
  #page-header h2,
  #page-header p {
      color: #fff;
  }
  
  #pagination {
      text-align: center;
  }
  
  #pagination a {
      text-decoration: none;
      background-color: #088178;
      padding: 15px 20px;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
  }
  #pagination a i {
      font-size: 16px;
      font-weight: 600;
  }
  
  /* Single product page */
  #pro-details {
      display: flex;
      margin-top: 20px;
  }
  
  #pro-details .single-pro-image {
      width: 40%;
      margin-right: 50px;
  }
  
  #pro-details .small-img-group {
  display: flex;
  justify-content: space-between;
  }
  
  #pro-details .small-img-col {
      flex-basis: 24%;
      cursor: pointer;
  }
  
  #pro-details .single-pro-details {
      width: 50%;
      padding-top: 30px;
  }
  #pro-details .single-pro-details h4{
      padding: 40px 0 20px 0;
  }
  #pro-details .single-pro-details h2{
      font-size: 26px;
  }
  #pro-details .single-pro-details select{
      display: block;
      padding: 5px 10px;
      margin: 11px 0;
  }
  #pro-details .single-pro-details input{
      width: 50px;
      height: 47px;
      padding-left: 10px;
      font-size: 16px;
      margin-right: 10px;
  }
  #pro-details .single-pro-details button{
      background-color: #088178;
      color: #fff;
  }
  
  #pro-details .single-pro-details input:focus {
      outline: none;
  }
  
  #pro-details .single-pro-details span{
      line-height: 25px;
  }

  .btn-add-cart{
    background-color: #088178;
  }
  .btn-add-cart:hover {
    background-color: #0e5c56;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    /* margin: auto; */
}

.tab-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tab-btn {
    padding: 20px;
    width: 100%;
    background-color: #E3e6f3;
    cursor: pointer;
    transition: 0.3s;
}

.tab-btn.active {
    background-color: #088178;
    color: #fff;
}

.tabs-content {
    padding: 40px 20px;
    border: 1px solid #cce7d0;
    border-top: none;
    height: 30vh;
    overflow-y: overlay;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
  
  /* Blog page */
  
  #page-header-blog {
      background-image: url('img/banner/b19.jpg');
      text-align: center;
      width: 100%;
      height: 40vh;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 14px;
  }
  
  #page-header-blog h2,
  #page-header-blog p {
      color: #fff;
  }
  
  #blog {
      padding: 150px 150px 0 150px;
  }
  
  #blog .blog-box {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      padding-bottom: 90px;
  }
  
  #blog .blog-img{
      width: 50%;
      margin-right: 40px;
  }
  #blog .blog-img img{
      width: 100%;
      height: 300px;
      object-fit: cover;
  }
  #blog .blog-details{
      width: 50%;
  }
  #blog .blog-details a{
      text-decoration: none;
      font-size: 11px;
      color: #000;
      font-weight: 700;
      position: relative;
      transition: 0.3s;
  }
  #blog .blog-details a::after{
      content: "";
      width: 50px;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: 4px;
      right: -60px;
  }
  #blog .blog-details a:hover{
      color: #088178;
  }
  #blog .blog-details a:hover::after{
      background-color: #088178;
  }
  
  #blog .blog-box h1 {
      position: absolute;
      top: -40px;
      left: 0;
      font-size: 70px;
      font-weight: 700;
      color: #c9cbce;
      z-index: -1;
  }
  
  
  /* Start media query */
  @media (max-width: 799px) {
  
      .section-p1 {
          padding: 40px 40px;
      }
  
      #navbar {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          position: fixed;
          top: 0;
          right: -300px;
          height: 100vh;
          width: 300px;
          background-color: #E3e6f3;
          box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
          padding: 80px 0 0 10px;
          transition: 0.3s;
      }
  
      #navbar.active {
          right: 0;
      }
  
      #navbar li {
          margin-bottom: 25px;
      }
  
      #mobile {
          display: flex;
          align-items: center;
          gap: 20px;
      }
      #mobile a, #mobile i {
          color: #1a1a1a;
          font-size: 24px;
      }
  
      #navbar #close {
          position: absolute;
          top: 30px;
          left: 30px;
          color: #222;
          font-size: 24px;
      }
      #lg-bag {
          display: none;
      }
      #close {
          display: block;
      }
  
      #hero {
          height: 70vh;
          padding: 0 80px;
          background-position: top 30% right 30%;
      }
  
      #feature {
          justify-content: center;
          column-gap: 15px;
      }
  
      #product1 .pro-container {
          justify-content: center;
      }
      #product1 .pro {
          margin: 15px;
      }
  
      #banner {
          height: 20vh;
      }
  
      #sm-banner .banner-box {
          min-width: 100%;
          height: 30vh; 
      }
  
      #banner3 {
          padding: 0 40px;
      }
  
      #banner3 .banner-box {
          width: 28%;
      }
  
      #newsletter .n-form {
          width: 100%;
      }
  }
  
  @media (max-width:477px){
      .section-p1 {
          padding: 20px;
      }
      #header{
          padding: 10px 30px;
      }
      h1{
          font-size: 38px;
      }
      h2 {
          font-size: 32px;
      }
      #hero {
          padding: 0 20px;
          background-position: 55%;
      }
      #feature .fe-box {
          width: 155px;
          margin: 0 0 15px 0;
      }
  
      #product1 .pro {
          width: 100%;
      }
  
      #banner {
          height: 40vh;
          text-align: center;
      }
  
      #sm-banner .banner-box {
          height: 40vh;
      }
  
      #banner3 {
          padding: 0 20px;
      }
  
      #banner3 .banner-box {
          width: 100%;
      }
  
      #newsletter {
          padding: 40px 20px;
      }
  
      #newsletter .n-text h2{
          line-height: 30px;
      }
  
      /* Single product  */
  
      #pro-details {
          display: flex;
          flex-direction: column;
      }
  
      #pro-details .single-pro-image {
          width: 100%;
          margin-right: 0px;
      }
  
      #pro-details .single-pro-details {
          width: 100%;
      }
  
      /* Blog page  */
  
      #blog {
          padding: 100px 20px 0 20px;
      }
  
      #blog .blog-box {
          flex-direction: column;
          align-items: flex-start;
      }
  
      #blog .blog-img {
          width: 100%;
          margin-right: 0px;
      }
  
      #blog .blog-details {
          width: 100%;
      }

      .tab-btns{
        flex-direction: column;
    }
  
  }